.card {
  /* max-width: 40vw; */
  max-height: 40vh;
  height: 40vh;
  background-color: #ffffff;
  overflow-y: auto;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 32px;
  margin: 2vh 0;
}

.card__full {
  height: 82vh;
  max-height: 82vh;
}

.weekTaskData {
  padding: 16px;
}

.weekTaskData > h4 {
}

.weekTaskData > ul {
  margin-top: 16px;
  padding-left: 48px;
  list-style-type: square;
}

.weekTaskData > ul > li {
  padding: 4px;
}
