.navbar__container {
  background-color: dodgerblue;
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  height: 6vh;
  width: 100%;
  max-width: 1396px;
  /* background-color: firebrick; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  color: #ffffff;
}

.navbar__profile {
  display: flex;
  align-items: center;
}

.navbar__profile > h3 {
  margin: 0 24px 0 16px;
}

.body__container {
  height: 94vh;
  background-color: gainsboro;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.body {
  height: 100%;
  /* background-color: forestgreen; */
  max-width: 1396px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  grid-template-columns: 1fr, 1fr;
  grid-gap: 2vh;
  width: 100%;
  /* background-color: green; */
}

.dashboard__col {
  flex: 1;
}

.toolbar {
  display: flex;
}
